.tabs {
    vertical-align: top;
}

.tabs-1 .tab-links {
    height: 35px;
    background-color: #1e80ce;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

.tabs-1 .tab-link {
    cursor: pointer;
    display: inline-block;
    height: 40px;
    color: white;
    line-height: 41px;
    top: -6px;
    left: -1px;
    background-color: #c3c9d6;
    /*border-top-left-radius: 15px;
    border-top-right-radius: 15px;*/
    width: 50%;
    border-top: 4px solid #c3c9d6;
}
.tabs-1:hover .tab-link:hover {
    cursor: pointer;
    background-color: #1e80ce;
    border-top: 4px solid #1e80ce;
}

.tabs-1 .tab-link-active {
    font-weight: bold;
    color: black;
    border-bottom: 1px solid white;
    /*border-top-left-radius: 15px;
    border-top-right-radius: 15px;*/
    background-color: white;
    width: 50%;
    border-top: 4px solid #2196F3;
}

.tabs-1 .content {
    padding: 15px;
    border: 1px solid #868686;
    border-top: 1px solid transparent;
}
